# main
.dockerignore

# service_accounts
service_accounts/docker/
service_accounts/venv/

# service_frontend
service_frontend/node_modules/
service_frontend/package-lock.json/
service_frontend/build
service_frontend/Docker/Dockerfile# service_test