# pycharm
.idea

# virtual environments
venv_main/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# backend_service
service_accounts/venv/
service_accounts/environments/.development.env
service_accounts/*.log
service_accounts/local_settings.py
service_accounts/db.sqlite3
service_accounts/db.sqlite3-journal
service_accounts/coverage/
service_accounts/src/users/migrations/

# fontend_service
service_frontend/dist/
service_frontend/node_modules/
service_frontend/build/
service_frontend/.npm
service_frontend/package-lock.json
service_frontend/.pnp
service_frontend/.pnp.js
service_frontend/environments/.develpment.env
service_frontend/coverage/
service_frontend/.DS_Store
service_frontend/.env.local
service_frontend/.env.development.local
service_frontend/.env.test.local
service_frontend/.env.production.local
service_frontend/npm-debug.log*
service_frontend/yarn-debug.log*
service_frontend/yarn-error.log*