# pycharm
.idea

# virtual environments
venv_main/
backend_service_1/venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# django
/backend_service_1/environments/.env
/backend_service_1/*.log
/backend_service_1/local_settings.py
/backend_service_1/db.sqlite3
/backend_service_1/db.sqlite3-journal
/backend_service_1/coverage

# react
/frontend/dist/
/frontend/node_modules/
/frontend/build/
/frontend/.npm
/frontend/.pnp
/frontend/.pnp.js
/frontend/environments/.env
/frontend/coverage
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

