# pycharm
.idea

# virtual environments
venv_main/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# fontend_service
service_frontend/dist/
service_frontend/node_modules/
service_frontend/build/
service_frontend/.npm
service_frontend/package-lock.json
service_frontend/.pnp
service_frontend/.pnp.js
service_frontend/coverage/
service_frontend/.DS_Store
service_frontend/environments/.development.env
service_frontend/npm-debug.log*
service_frontend/yarn-debug.log*
service_frontend/yarn-error.log*

# service_backend
service_backend/venv/
service_backend/environments/.development.env
service_backend.log
service_backend/local_settings.py
service_backend/db.sqlite3
service_backend/db.sqlite3-journal
service_backend/coverage/
service_backend/src/**/migrations.py